<style>
    .logo{
        text-decoration: none;
        color: rgb(251, 251, 251);
        font-size:40px
    }
    body {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        height: 100vh;
        font-family: fantasy;
        flex-direction: column;
        text-decoration: none;    
    }
    .background {
                position: absolute; 
                top: 0; 
                left: 0; 
                right: 0; 
                bottom: 0; 
                margin: auto; 
                min-width: 50%;
                min-height: 50%;
                z-index: -1;
            }
    </style>
    <body>
    <div><a href="/" class = "logo">Luxe Palate</a></div>
    <div class = "bg">
        <img src="../static/styles/menu.png">
    </div>
    <div class = "background">
        <img src="../static/styles/luxe.png">
    </div>
    </body>